*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto', sans-serif;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    padding:0 15px;
}

.facebook-page{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width:100%
}
.facebook-page .text{
    margin-bottom: 90px;
}

.facebook-page h1{
    font-size: 4rem;
    color:#1877f2;
    margin-bottom:10px;
}
.facebook-page p{
    font-size:1.75rem
}

form {
    display:flex;
    flex-direction: column;;
    max-width:400px;
    width:100%;
    background:#fff;
    padding:20px;
    border-radius:8px;
    box-shadow:0 2px 4px rgba(0.,0,0,0.1),
                0 8px 16px rgba(0,0,0,0.1);
}

form  input{
    height:55px;
    width:100%;
    padding:0 15px; 
    border:1 px solid #ccc;
    border-radius:6px;
    font-size: 1 rem;
    Margin-bottom:20px;

}
form input:focus{
    outline:none;
    border-color:#1877f2;
}

::placeholder{
    color:#777;
    font-size: 1.063rem;

}
.login-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:15px;

}
.login-link .login-btn{
    padding:15px 0;
    outline:none;
    border:none;
    font-size: 1rem;
    font-weight: 600;
    background:#1877f2;
    border-radius:6px;
    color:#fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.login-link .login-btn:hover{
    background:#166fe5;
}

form a{
    text-decoration: none;
    
}
.login-link .forgot-password {
    color:#1877f2;
    font-size: 1rem;
    font-weight: 600;
}

.login-link .forgot-password:hover{
    text-decoration: underline;
}

hr{
    border:none;
    height: 1px;
    background:#ccc;
    margin-bottom:20px;
    margin-top:20px;
}

.create-account{
    margin-top:25px;
    text-align:center;
    margin-bottom:20px;
}
.create-account p{
    font-size: 1rem;
    color:#777;
}
.create-account a{
    text-decoration: none;
    color:#1877f2;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2 ease;
}
.create-account a:hover{
    text-decoration: underline;
    
}

@media (max-width: 900px){
    .facebook-page{
        flex-direction: column;
        text-align: center;
    }
    .facebook-page .text{
        margin-bottom: 30px;
    }

}

@media(max-width:460px){
    .facebook-page h1{
        font-size: 3rem;
    }
    .facebook-page p{
        font-size: 1.5rem;
    }
    form{
        padding: 15px;
        
    }
}